<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>产品详情</title>
	<link rel="stylesheet" type="text/css" href="__HCSS__/loaders.min.css"/>
	<link rel="stylesheet" type="text/css" href="__HCSS__/loading.css"/>
	<link rel="stylesheet" type="text/css" href="__HCSS__/base.css"/>
	<link rel="stylesheet" type="text/css" href="__HCSS__/style.css"/>
	<link rel="stylesheet" type="text/css" href="__HCSS__/swiper.min.css"/>
	<script src="__HJS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(window).load(function(){
			$(".loading").addClass("loader-chanage")
			$(".loading").fadeOut(300)
		})
	</script>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
		<div class="loader-inner pacman">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>
<!--loading页结束-->
<!--<body>-->
<body style="background-image:url({$spots_img_addr});background-position:center; background-repeat:repeat-y">
<header class="detail-header fixed-header">
	<a href="javascript:history.go(-1)"><img src="__HIMGS__/detail-left.png"/></a>


</header>


<div class="contaniner fixed-contb" >
	<section class="detail" style="text-align:center;">
		<!--<figure class="swiper-container">-->
		<!--<ul class="swiper-wrapper">-->
		<!--<li class="swiper-slide">-->
		<!--<a href="#">-->
		<!--<img src="__HIMGS__/detail-ban02.png"/>-->
		<!--</a>-->
		<!--</li>-->

		<!--</ul>-->
		<!--<div class="swiper-pagination">-->
		<!--</div>-->
		<!--</figure>-->
		<!--<div style="width: 10%;"></div>-->
		<dl class="jiage" style="text-align:center;float: inherit;">
			<dt>
				<img src="{$goods_info.cover_img_addr}" style="text-align:center; width:200px; height:250px;"/>
			</dt>
			<dt>
			<h3>{$goods_info.title}</h3>
			<!--<div class="collect">-->
			<!--<img src="__HIMGS__/detail-heart-hei.png"/>-->
			<!--<p>收藏</p>-->
			<!--</div>-->
			</dt>
			<dd>
				<b>￥{$goods_info.price}</b>
			</dd>
			<span style="    float: left;
    width: 70%;
    padding: 0 5%;
    font-weight: normal;
    font-size: 1.3em;
    color: #333;
    text-align: justify;">{$goods_info.description}</span>
		</dl>







	</section>
</div>


<footer class="detail-footer fixed-footer">
	<input type="hidden" id="scenic_spots_id" value="{$scenic_spots_id}">
	<input type="hidden" id="id" value="{$goods_info.id}">
	<input type="hidden" id="num" value="1">
	<a href="javascript:;" class="go-car">
		<input type="button" class="add" value="加入兑换购物车"/>
	</a>
	<!--<a href="javascript:;" class="buy" style="width:100px;margin: 0 auto;display:block;float: inherit;">-->
	<a href="javascript:;" class="buy">
		马上兑换
	</a>
</footer>

<script src="__HJS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(window).scroll(function() {
		if ($(".detail-header").offset().top > 50) {
			$(".detail-header").addClass("change");
		} else {
			$(".detail-header").removeClass("change");
		}
	});
</script>
<script src="__HJS__/swiper.min.js"></script>

<script>
	$(function(){

		$(".buy").click(function(){
			var id = $('#id').val();
			var num = $('#num').val();
			var scenic_spots_id = $('#scenic_spots_id').val();

//				$.ajax({
//					type: "post",//数据提交的类型（post或者get）
//					url: "__APP__/index.php/Goods/buy",//数据提交得地址
//					data: {id: id, num:num},//提交的数据(自定义的一些后台程序需要的参数)
//					dataType: "json",//返回的数据类型
//					success: function (data) {
//
//						setTimeout(function(){
			window.location.href='__APP__/index.php/Goods/buy_integral?id=' + id + '&num='+ num + '&scenic_spots_id=' +scenic_spots_id;

//
//					}
//				});

		});

		$(".add").click(function(){
			var id = $('#id').val();
			var num = $('#num').val();

			$(".add").attr("disabled", true);
			$.ajax({
				type: "post",//数据提交的类型（post或者get）
				url: "__APP__/index.php/Carts/add",//数据提交得地址
				data: {id: id, num:num,type:2},//提交的数据(自定义的一些后台程序需要的参数)
				dataType: "json",//返回的数据类型
				success: function (data) {

					if (data.statusCode == "success") {

						alert(data.message);

						$(".add").attr("disabled", false);

					} else {

						alert(data.message);

						$(".add").attr("disabled", false);
						return false;
					}
				}
			});

		});

	});
</script>



</body>
</html>