<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="__HCSS__/loading.css"/>
    <link rel="stylesheet" type="text/css" href="__HCSS__/base.css"/>
    <link rel="stylesheet" type="text/css" href="__HCSS__/style.css"/>
      <script src="__HJS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	$(window).load(function(){
    		$(".loading").addClass("loader-chanage")
    		$(".loading").fadeOut(300)
    	})
    </script>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
	</div>
</div>
<!--loading页结束-->
<body>
	<!--<header class="top-header fixed-header">-->
		<!--<a class="icona" href="javascript:history.go(-1)">-->
				<!--<img src="__HIMGS__/left.png"/>-->
			<!--</a>-->
		<!--<h3>全部订单</h3>-->
			<!--<a class="iconb" href="shopcar.html">-->
			<!--</a>-->
	<!--</header>-->
	
	<div class="contaniner fixed-conta">
		<section class="order">
			<php>foreach($order_info as $k => $v){</php>
			<dl>
				<dt>
					<time><php>echo date('Y-m-d H:i:s', $v['create_time']);</php></time>
					<span><php>echo $deliver_status[$v['deliver_status']];</php></span>
				</dt>
				<php>foreach($v['per_money'] as $kk => $vv) {</php>
				<ul>

						<figure><img src="<php>echo $goods_info[$v['goods_id'][$kk]]['cover_img_addr'];</php>"/></figure>
						<li>
							<p><php>echo $goods_info[$v['goods_id'][$kk]]['title'];</php></p>

							<b>￥<php>echo $v['per_money'][$kk];</php></b>
							<strong>×<php>echo $v['num'][$kk];</php></strong>
						</li>


				</ul>
				<php>}</php>

				<dd>
					<h3>商品总额</h3>
					<i>￥{$v.sales_price}</i>
				</dd>
				<dd>
					<php>if($v['deliver_status'] == 3) {</php>
					<input type="button" data-id="{$v.id}" id='check' onclick="check(this)" value="确认收货" class="order-que"/>
					<php>}</php>
					<!--<input type="button" value="查看物流" onclick="javascript:location.href='wuliu.html'" />-->
					<!--<input type="button" value="取消订单" />-->
				</dd>
			</dl>
			<php>}</php>

		</section>
	</div>




<script>
	function check(obj) {
		var id = $(obj).attr("data-id");
		$("this").attr("disabled", true);
		$.ajax({
			url: '__APP__/index.php/Order/checkOrder',
			data: {
				id: id
			},
			type: 'post',
			cache: false,
			dataType: 'json',
			success: function (data) {

				if (data.statusCode == "success") {

					alert(data.message);

					$("this").attr("disabled", false);
					setTimeout("location.reload();", 1000);
				} else {

					alert(data.message);

					$("this").attr("disabled", false);
					return false;
				}

			}
		});

		$('#edit-form').modal('show');
	}
</script>
</body>
</html>