<include file="Public/header"/>

<style>


    /*.current {*/
    /**/
    /*}*/
</style>

<body>
<div class="page-content clearfix">
    <div class="sort_style">
        <div class="sort_list">

<div class="sort_style_add margin" id="sort_style_add" style="">
    <form id="goods-edit" method="post" action="{:cp_U('AdminGoods/add')}">
    <div class="">
        <ul>
            <li>
                <label class="label_name">标题</label>
                <div class="col-sm-9">
                    <input name="title" value="<?= $data['title'] ?>" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
                </div>
            </li>

           <input type="hidden" name="id" value="<?= $data['id'] ?>" >

            <li>
                <label class="label_name">价格</label>
                <div class="col-sm-9">
                    <input name="price" type="text" value="<?= $data['price'] ?>"  id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
                </div>
            </li>


            <li>
                <label class="label_name">介绍文</label><div class="col-sm-9">
                <textarea name="description" class="form-control" id="form-field-8" placeholder="" onkeyup="checkLength(this);"><?= $data['description']; ?></textarea>
                <span class="wordage">剩余字数：<span id="sy" style="color:Red;">200</span>字</span></div>
            </li>


            <li>
                <label class="label_name">封面图片</label>
                <div class="col-sm-9">
                    <input type="file" id="file" onclick="pic_clip('file', 'imge')" >

                    <img  id="pic_img1" src="" style="height: 40px;width: 40px;display: none;">


                    <!--<input class="btn btn-info radius" id="image-upload" type="button" value="上传图片">-->
                    <input name="cover_img_addr" id="pic_img" value="<?= $data['cover_img_addr'] ?>"  type="hidden" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
                </div>
            </li>
            <li>
                <label class="label_name">商品类型</label>
                <span class="add_content"> &nbsp;&nbsp;<label>
                    <input name="is_integral" type="radio" <?php if($data['is_integral'] == 1) { echo 'checked="checked"';} ?> value="1" class="ace">
                    <span class="lbl">普通商品</span></label>&nbsp;&nbsp;&nbsp;
                    <label><input name="is_integral" <?php if($data['is_integral'] == 2) { echo 'checked="checked"';}?> type="radio" class="ace" value="2">
                        <span class="lbl">积分商品</span></label>
                </span>
            </li>
            <li style="display: none" class="is_integral">

                <label class="label_name">轮播</label>
                <span class="add_content"> &nbsp;&nbsp;<label>
                    <input name="is_better" type="radio" <?php if($data['is_better'] == 1) { echo 'checked="checked"';} ?> value="2" class="ace">
                    <span class="lbl">是</span></label>&nbsp;&nbsp;&nbsp;
                    <label><input name="is_better" <?php if($data['is_better'] == 1) { echo 'checked="checked"';}?> type="radio" class="ace" value="1">
                        <span class="lbl">否</span></label>
                </span>
            </li>

            <li style="display: none" class="is_integral">
                <label class="label_name">商品分类</label> &nbsp;
                <select name="integral_sort_id" style=" width:100px">

                    <?php foreach($sortList as $k => $v): ?>
                    <option value="{$k}"  >{$v}</option>
                    <?php endforeach; ?>
                </select>
            </li>


            <li>
                <label class="label_name">状态</label>
                <span class="add_content"> &nbsp;&nbsp;<label>
                    <input name="sale_status" type="radio" <?php if($data['status'] == 1) { echo 'checked="checked"';} ?> value="1" class="ace">
                    <span class="lbl">上架</span></label>&nbsp;&nbsp;&nbsp;
                    <label><input name="sale_status" <?php if($data['status'] == 2) { echo 'checked="checked"';}?> type="radio" class="ace" value="2">
                        <span class="lbl">下架</span></label>
                </span>
            </li>
        </ul>
    </div>
        <div class="">
            <div class="" style=" text-align:center">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <input class="btn btn-info radius"  type="submit" value="提交">
                        <!--<input class="btn btn-warning radius cansel" type="button" value="取消">-->
                    </div>
                    <div class="col-lg-4"></div>


                </div>

            </div>
        </div>
    </form>
</div>
        </div>
    </div>
</div>


<div id="imge" style="display: none;">

    <div id="clipArea"></div>
    <button id="clipBtn" style="display:none;">截取</button>
    <div id="view"></div>
</div>





</body>
</html>
<script type="text/javascript">

    var clipArea = new bjj.PhotoClip("#clipArea", {
        size: [350, 600],
        outputSize: [640, 900],
        file: "#file",
        view: "#view",
        ok: "#clipBtn",
        loadStart: function() {
//            console.log("照片读取中");
        },
        loadComplete: function(img, url) {
//            console.log("照片读取完成");
        },
        clipFinish: function(dataURL) {
        $("#pic_img").val(dataURL);
        $("#pic_img1").attr('src', dataURL).show();
//        console.log(dataURL);
        }
    });

    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引

    $("#image-upload").on('click', function() {
        parent.layer.open({
            type: 2,
            area: ['760px', '520px'],
            fix: false, //不固定
            maxmin: true,
            shade:0.4,
            title: '编辑',
            content: "{:cp_U('AdminGoods/cropAvatar')}"
        });
    });

    $("input[name=is_integral]").change(function() {

        var type = $(this).val();

        if (type == 2) {
            $(".is_integral").show();
        } else {

            $(".is_integral").hide();
        }

    });

    //给父页面传值
    $('#submit').on('click', function(){
        ajax_form($("#goods-edit"), function(ret) {
            if (ret.code == 1) {
                layer.alert('修改成功', function() {
                    location.reload();
                });
//                var _parent = parent;
//                parent.layer.alert('修改成功', function() {
//                    _parent.location.reload();
//                });
//                parent.layer.close(index);

            } else {
//                parent.layer.alert(ret.data);
            }
        });

//        parent.$('#parentIframe').text('我被改变了');
//        parent.layer.tips('Look here', '#parentIframe', {time: 5000});
//        parent.layer.close(index);
    });

    //关闭iframe
    $('.cansel').click(function(){
        parent.layer.close(index);
    });


    function checkLength(which) {
        var maxChars = 200; //
        if(which.value.length > maxChars){
            layer.open({
                icon:2,
                title:'提示框',
                content:'您出入的字数超多限制!',
            });
            // 超过限制的字数了就将 文本框中的内容按规定的字数 截取
            which.value = which.value.substring(0,maxChars);
            return false;
        }else{
            var curr = maxChars - which.value.length; //250 减去 当前输入的
            document.getElementById("sy").innerHTML = curr.toString();
            return true;
        }
    };

</script>
