<include file="Public/header"/>
<body>
<div class="page-content clearfix">
    <div class="sort_style">
        <div class="sort_list">

<div class="sort_style_add margin" id="sort_style_add" style="">
    <form id="goods-add" method="post" action="{:U('add')}">
    <div class="">
        <ul>
            <li>
                <label class="label_name">标题</label>
                <div class="col-sm-9">
                    <input name="title" value="<?= $data['title'] ?>" type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
                </div>
            </li>

            <li>
                <label class="label_name">价格</label>
                <div class="col-sm-9">
                    <input name="price" type="text" value="<?= $data['price'] ?>"  id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
                </div>
            </li>


            <li>
                <label class="label_name">介绍文</label><div class="col-sm-9">
                <textarea name="description" class="form-control" id="form-field-8" placeholder="" onkeyup="checkLength(this);"> <?= $data['description'] ?> </textarea>
                <span class="wordage">剩余字数：<span id="sy" style="color:Red;">200</span>字</span></div>
            </li>


            <li>
                <label class="label_name">封面图片</label>
                <div class="col-sm-9">
                    <input name="cover_img_addr" value="<?= $data['cover_img_addr'] ?>"  type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
                </div>
            </li>

            <li>
                <label class="label_name">状态</label>
                <span class="add_content"> &nbsp;&nbsp;<label>
                    <input name="sale_status" type="radio" checked="checked" value="1" class="ace">
                    <span class="lbl">上架</span></label>&nbsp;&nbsp;&nbsp;
                    <label><input name="sale_status" type="radio" class="ace" value="2">
                        <span class="lbl">下架</span></label>
                </span>
            </li>
        </ul>
    </div>
    </form>
</div>
        </div>
    </div>
</div>






</body>
</html>
<script type="text/javascript">
    $('.goods-edit').on('click', function() {
        var id = $(this).data('id');
         member_edit('编辑', '{:U("AdminGoods/edit", array("id"=> '+ id+'))}');
    });

    $('#sort_add').on('click', function(){
        layer.open({
            type: 1,
            title: '添加分类',
            maxmin: true,
            shadeClose: false, //点击遮罩关闭层
            area : ['750px' , ''],
            content:$('#sort_style_add'),
            btn:['提交','取消'],
            yes:function(index,layero){
                var num=0;
                var str="";
                $(".sort_style_add input[type$='text']").each(function(n){
                    if($(this).val()=="")
                    {

                        layer.alert(str+=""+$(this).attr("name")+"不能为空！\r\n",{
                            title: '提示框',
                            icon:0,
                        });
                        num++;
                        return false;
                    }
                });
                if(num>0){  return false;}
                else{
                    layer.alert('添加成功！',{
                        title: '提示框',
                        icon:1,
                    });
                    layer.close(index);
                }
            }
        });
    })


    function checkLength(which) {
        var maxChars = 200; //
        if(which.value.length > maxChars){
            layer.open({
                icon:2,
                title:'提示框',
                content:'您出入的字数超多限制!',
            });
            // 超过限制的字数了就将 文本框中的内容按规定的字数 截取
            which.value = which.value.substring(0,maxChars);
            return false;
        }else{
            var curr = maxChars - which.value.length; //250 减去 当前输入的
            document.getElementById("sy").innerHTML = curr.toString();
            return true;
        }
    };

</script>
<script type="text/javascript">
    jQuery(function($) {
        var oTable1 = $('#sample-table').dataTable( {
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,1,2,3,4,5,6,7,8]}// 制定列不参与排序
            ] } );
        $('table th input:checkbox').on('click' , function(){
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function(){
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });

        });
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
            return 'left';
        }
    })
</script>
