<footer class="page-footer fixed-footer" id="footer">
    <ul>
        <php>if($menu == 'shop') {</php>
        <li class="active">
            <a href="__ROOT__/index.php/Shop/shop">
                <img src="__HIMGS__/footer01.png"/>
                <php>}else{</php>
        <li>
            <a href="__ROOT__/index.php/Shop/shop">
                <img src="__HIMGS__/footer001.png"/>
                <php>}</php>

                <p>首页</p>
            </a>
        </li>

        <php>if($menu == 'integral') {</php>
        <li class="active">
                <a href="__ROOT__/index.php/Integral/index">
                <img src="__HIMGS__/footer02.png"/>
                <php>}else{</php>
        <li>
            <a href="__ROOT__/index.php/Integral/index">
                <img src="__HIMGS__/footer002.png"/>
                <php>}</php>

                <p>积分商城</p>
            </a>
        </li>

        <php>if($menu == 'cart') {</php>
        <li class="active">
            <a href="__ROOT__/index.php/Carts/index">
                <img src="__HIMGS__/footer03.png"/>
                <php>}else{</php>
                <li>
                    <a href="__ROOT__/index.php/Carts/index">
                        <img src="__HIMGS__/footer003.png"/>
                <php>}</php>

                <p>购物车</p>
            </a>
        </li>

        <php>if($menu == 'self') {</php>
        <li class="active">
            <a href="__ROOT__/index.php/Self/index">
                <img src="__HIMGS__/footer04.png"/>
                <php>}else{</php>
        <li>
            <a href="__ROOT__/index.php/Self/index">
                <img src="__HIMGS__/footer004.png"/>
                <php>}</php>

                <p>个人中心</p>
            </a>
        </li>
    </ul>
</footer>
