<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>产品列表</title>
    <link rel="stylesheet" type="text/css" href="__HCSS__/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="__HCSS__/loading.css"/>
    <link rel="stylesheet" type="text/css" href="__HCSS__/base.css"/>
    <link rel="stylesheet" type="text/css" href="__HCSS__/style.css"/>
      <script src="__HJS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	$(window).load(function(){
    		$(".loading").addClass("loader-chanage")
    		$(".loading").fadeOut(300)
    	})
    </script>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
	</div>
</div>
<!--loading页结束-->
<!--<body style="background-image:{$spots_img_addr}">-->
<body >
	<!--<header class="top-header fixed-header">-->
		<!--<a class="icona" href="javascript:history.go(-1)">-->
				<!--<img src="__HIMGS__/left.png"/>-->
			<!--</a>-->
		<!--<h3>产品列表</h3>-->

	<!--</header>-->
	
	<div class="contaniner fixed-conta">
		<section class="list">
			<!--<figure><img src="__HIMGS__/list-ban01.png"/></figure>-->
			<div class="search">
				<input type="text" id="content" placeholder="请输入要查找的产品信息" value="<php>echo $_GET['content'];</php>" />
				<label>
					<a href="javascript:;" id="search">
						<img src="__HIMGS__/list-search.png"/>
					</a>
				</label>
			</div>
			<!--<nav>-->
				<!--<ul>-->
					<!--<li>-->
						<!--<a href="#">-->
							<!--<span>全部</span>-->
						<!--</a>-->
					<!--</li>-->
					<!--<li class="list-active">-->
						<!--<a href="#">-->
							<!--<span>销量</span>-->
							<!--<img src="__HIMGS__/up-red.png"/>-->
						<!--</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="#">-->
							<!--<span>价格</span>-->
						<!--</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="#">-->
							<!--<span>评价</span>-->
						<!--</a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</nav>-->
			<ul class="wall">
				<php>
					foreach($pro_arr as $k => $v){
				</php>
				<li class="pic">
					<a href="__ROOT__/index.php/Goods/index?goods_id={$v.id}&scenic_spots_id={$spots_id}">
						<img src="{$v.cover_img_addr}"/>
						<p>{$v.title}</p>
						<b>￥{$v.price}</b>
					</a>
				</li>
				<php>
					}
				</php>
			</ul>
		</section>
		<input type="hidden" id="scenic_spots_id" value="{$spots_id}">
	</div>
	<include file="Common:footer" />

<script src="__HJS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="__HJS__/jaliswall.js"></script>
	<script type="text/javascript">
	$(window).load(function(){
		$('.wall').jaliswall({ item: '.pic' });
	});
	</script>
	<script>
		$(function(){

			$("#search").click(function(){
				var content = $('#content').val();
				var scenic_spots_id = $('#scenic_spots_id').val();
//alert('__ROOT__/index.php/Shop/shop?content=' + content + '&scenic_spots_id=' +scenic_spots_id);exit;
//				__ROOT__/index.php/Shop/shop?content={$v.id}&scenic_spots_id={$spots_id}
//				window.location.href='__APP__/index.php/Goods/buy?id=' + id + '&num='+ num + '&scenic_spots_id=' +scenic_spots_id;

				window.location.href='__APP__/index.php/Shop/shop?content=' + content + '&scenic_spots_id=' +scenic_spots_id;


			});

		});
	</script>

</body>
</html>