
<!DOCTYPE html>
<html>
<head>
    <script charset="utf-8" src="__HJS__/jquery.min.js?v=01291"></script>
    <script charset="utf-8" src="__HJS__/global.js?v=01291"></script>
    <script charset="utf-8" src="__HJS__/bootstrap.min.js?v=01291"></script>
    <script charset="utf-8" src="__HJS__/template.js?v=01291"></script>

    <link rel="stylesheet" href="__HCSS__/bootstrap.css?v=01291">
    <link rel="stylesheet" href="__HCSS__/style.css?v=1?v=01291">
    <link rel="stylesheet" href="__HCSS__/member.css?v=01291">
    <link rel="stylesheet" href="__HCSS__/order3.css?v=01291"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1;user-scalable=no;">
    <title>{$Think.lang.Shop}</title>
</head>
<body>
<div class="container ">
    <div class="row rowcar">
        <ul class="list-group">
            <li class="list-group-item text-primary">
                {$Think.lang.No_shop}</li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    var contextPath = '';
</script>
</body></html>
